/AED2_2026-1_TrabalhoFinalv6.pdf
/Cópia de Documentação do Projeto - Cópia Davi.pdf
/Documentação do Projeto.pdf
/extract_pdf.mjs
/node_modules
/package-lock.json
/package.json
/Stack-Projeto-Aed2.pdf