.app-layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.app-area-canvas {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111827;
    overflow: hidden;
}
